version: 2
jobs:
    test:
        docker:
            - image: openjdk:11
        environment:
            JAVAOPTIONS: "-Xms512m -Xmx2048m"
        steps:
            - checkout
            - run:
                  name: Build & Test
                  command: './mvnw clean test'
            - run:
                  name: Collect Test Results
                  command: |
                      mkdir test-results
                      find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} test-results/ \;
            - store_test_results:
                  path: test-results
    deploy:
        docker:
            - image: openjdk:11
        steps:
            - checkout
            - run:
                  name: Import GPG Key
                  command: gpg --batch --passphrase ${GPG_SIGNING_PASSWORD} --import .circleci/gpg.key.txt
            - run:
                  name: Release
                  command: |
                      gpg --no-tty --batch --pinentry-mode loopback --passphrase ${GPG_SIGNING_PASSWORD} --clear-sign pom.xml
                      ./mvnw -B -Pinternal-release -DskipTests -Darguments='-DskipTests' -s .circleci/settings.xml conventional-commits:version release:prepare
workflows:
    version: 2
    build_and_release:
        jobs:
            - test
            -  deploy:
                    requires:
                        - test
                    filters:
                        branches:
                            only: ci

